<h1>Eat-Da-Burger!</h1>

<ul>
  {{#each burger}}
  
      <li>
        {{this.name}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devour" value="true">
          <button type="submit">Order</button>
        </form>

        {{> burgers/delete-burger}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Devour your burger!</h2>

<ul>
  {{#each burger}}
    
      <li>
        {{this.name}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="sleepy" value="false">
          <button type="submit">Order your burger!</button>
        </form>

        {{> burgers/delete-cat}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-update-form" action="burgers/create" method="POST">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="name">
  </div>
  
  <button type="submit">Add a burger</button>
</form>